<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
<link th:href="@{/jquery-easyui/themes/default/easyui.css}" rel="stylesheet"/>
<link th:href="@{/jquery-easyui/themes/icon.css}" rel="stylesheet"/>
<link th:href="@{/jquery-easyui/demo/demo.css}" rel="stylesheet"/>
<link th:href="@{/app/css/style.css}"  rel="stylesheet"></link>
</head>
<body class="easyui-layout" >
    <div data-options="region:'north',title:'项目摘要管理',split:true,collapsible:false,border:false" style="overflow: hidden;height: 10px;">
       <span style="float:right;padding-right:20px;" >
       	<a href="javascript:void(0)" id="logout">安全退出</a>
       </span>
       
    </div>

    <div data-options="region:'south',title:'By 中软国际TPG质量管理与运作部',collapsible:false,split:true" style="height:30px;"></div>

    <div data-options="region:'west',title:'导航菜单',split:true,collapsible:false" style="Width:200px;">
    	<ul id="nav"></ul>
    </div>
    
     
    <div data-options="region:'center'">
       <div id="tabs" class="easyui-tabs" data-options="fit:true,border:false" style="width:1500px;overflow:auto">
		   <div title="起始页" style="padding:20px;" >
				<h1 align=center>项目摘要管理使用说明</h1>
				<p>
				<h2> <font color="blue">菜单说明： </font></h2>
				  <ul>
				     <!-- 
				     <li>项目摘要信息导入(管理员可见) </li>
				      -->
				     <li>项目摘要成果管理</li>
				   </ul>
				</p>
				
				<p>
				<h2><font color="blue">项目摘要信息导入功能说明：</font></h2>
				 <ul>
				     <li>页面点击<b>[导入项目摘要]</b>按钮， 弹出选择文件弹框。</li>
				   	 <li>弹框中可以一次选择多需要导入的项目摘要文件，点击<b>[提交]</b>按钮实现多个文件一次性导入，导入前清空以往所有导入
				  的项目摘要信息，导入数据以本次导入为准。</li>
				  </ul>
				</p> 
				
				<p>
				<h2><font color="blue">项目摘要成果管理功能说明：</font></h2>
				<ul>
				   <li>页面会列出登录人员编辑的项目摘要信息(管理员可以看到所有项目摘要信息)   </li>
				   <li>点击<b>[添加]</b>按钮，弹出<b>添加项目摘要</b>弹窗，按照弹窗所示列表填写相关内容，点击<b>[提交]</b>保存填写项目摘要信息
				   <li>双击列表中选中的项目摘要信息（或是点击<b>[修改]</b>按钮，弹出<b>[编辑项目摘要]</b>弹出，可以对项目摘要信息修改并提交保存 </li>
				   <li>点击<b>[删除]</b>按钮，删除选中的摘要信息 </li>
				   <li>所属LOB, 项目成果ID， 项目名称，项目编号为列表的固定域查询条件框，可过滤相应域的项目摘要</li>
				   <li>关键字查询框，是模糊查询条件框，可过滤页面列表中所有域中内容符合关键字的相应的项目摘要信息</li>
				</ul>
				
				</p>        
				
		   </div>
		</div>
    </div>

<script th:src="@{/jquery-easyui/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}" type="text/javascript"></script>	
<script th:src="@{/jquery-easyui/jquery.easyui.min.js}" type="text/javascript"></script>
<script th:src="@{/ajaxfileupload.js}" type="text/javascript"></script>
<script th:src="@{/app/js/mainbroad.js}" type="text/javascript"></script>
</body>
</html>